{{#if cartIsShowing}}
{{#each shoppingCart.products as |product|}}
<div class="product">
  <p>{{product.name}}</p>
  <img class="" src="{{product.image}}" alt="" />
  <p>{{product.price}}</p>
  <button {{action "removeFromCart" product}}>Remove From Cart</button>
</div>
{{/each}}
<!-- <button {{action 'hideCart'}}>Hide Cart</button> -->
<button {{action 'emptyCart' items}}>Empty Cart</button>
${{total}}
{{else}}
<!-- <button {{action 'showCart'}}>View Cart</button> -->
${{total}}
{{/if}}
