<div class="item-tile">
  {{#link-to 'item' item.id}}
  <h3>This is the Item-Tile</h3>
  <p>{{item.name}}</p>
  <img src="{{item.image}}" alt="{{item.name}}" />
  <p>${{item.price}}</p>
  {{/link-to}}
</div>
<button {{action 'deleteItem' item}}>Remove Item</button>
