<div>
  {{#link-to 'item' item.id}}
  <div class="item-tile">
    <p>{{item.name}}</p>
    <img src="{{item.image}}" alt="{{item.name}}" />
    <p>${{item.price}}</p>
  </div>
  {{/link-to}}
  <button {{action 'deleteItem' item}}>Remove Item</button>
</div>
