<!-- {{#if cartIsShowing}}
<div class="cart-products">
{{#each shoppingCart.products as |product|}}
  <p>{{product.name}}</p>
  <img class="" src="{{product.image}}" alt="" />
  <p>{{product.price}}</p>
  <button {{action "removeFromCart" product}}>Remove From Cart</button>
{{/each}}
</div>
<button {{action 'hideCart'}}>Hide Cart</button>
<button {{action 'emptyCart' items}}>Empty Cart</button>
${{total}}
{{else}}
<button {{action 'showCart'}}>View Cart</button>
${{total}}
{{/if}} -->
<div class="container">
  {{display-cart item=model}}
</div>
